* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #c2c1c2;
  color: #42213d;
}

button {
  padding: 1.5rem 3rem;
  margin: 2rem;
  width: 20rem;
  border-radius: 4rem;
  border: none;
  font-size: 2.5rem;
  outline: none;
  color: #683257;
}

.clock {
  font-size: 6rem;
}
.buttonConatiner {
  display: flex;
  transition: all 3s;
}
.lapContainer {
  border: 2px solid #5d5b5d;
  box-shadow: 0 0 15px 5px #42213d91;
  border-radius: 1rem;
  height: 70vh;
  width: 30vw;
  overflow-y: auto;
  padding: 1rem;
}
.lap {
  padding: 1rem;
  text-align: center;
  font-size: 2.5rem;
}
.lapItem {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
}
